.center {
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(204, 86%, 53%);
}

.column-text {
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.petimg {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  height: 128px;
}

.hero-image {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  height: 400px;
  border-radius: 10px;
  width: 65%;
}

.navbar-menu {
  color: black;
  font-size: 25px;
}

.navbar-dropdown {
  color: black;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
}

.midsec {
  background-image: url("../images/dogjump.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.column-text {
  color: white;
}

.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
}

.card h1 {
  font-weight: bold;
  font-size: large;
  font-family: "Catamaran", sans-serif;
}

#invalid {
  display: none;
  color: red;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.what-we-do {
  display: flex;
  flex: row;
  justify-content: center;
  background-color: hsl(204, 86%, 53%);
}

.title {
  position: static;
}

.select {
  display: flex;
  justify-content: center;
  -webkit-appearance: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: transparent;
}

.footer-heart {
  height: 50%;
}

.heart {
  height: 50px;
}

.footer {
  font-family: "DynaPuff", cursive;
  text-shadow: 0px 10px 20px;
  color: white;
  font-size: 70px 4vw;
}

.navbar-item {
  font-family: "Catamaran", sans-serif;
  color: white;
  font-size: 70px 4vw;
}

footer {
  font-family: "Catamaran", sans-serif;
  padding: 1rem 1rem 5rem !important;
  color: black;
}

.nav-foot {
  font-family: "Catamaran", sans-serif;
  color: black;
}

.foot-img {
  display: flex;
  justify-content: center;
}

.nav-back {
  background-color: hsl(0, 0%, 100%);
}

.center {
  font-family: "DynaPuff", cursive;
  color: hsl(204, 86%, 53%);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#pages {
  display: flex;
  justify-content: center;
}

#page1btn {
  margin-right: 5px;
}

#page2btn {
  margin-right: 5px;
}

#page3btn {
  margin-right: 5px;
}

div.select.is-success.is-medium.is-rounded::after {
  display: none;
}
